*.dex
local.properties
Thumbs.db
.DS_Store
*.iml
.idea
.gradle
build/
.navigation
captures/
output.json
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
gradle/
obj/
.externalNativeBuild
app/release/app-release.apk
app/app-release.apk
app/release/app-release.aab
